.wrapper {
  width: 130px;
  height: 50px;
  position: relative;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  width: 130px;
  height: 50px;
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  background-color: #1C232A;
  border-radius: 25px;
  box-shadow: inset 0px 0px 4px rgba(255,255,255,.7);
  transition: all .7s cubic-bezier(.8, .5, .2, 1.4);
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.switch:checked {
  background-color: #B8E1FF;
  transition: all .7s cubic-bezier(.8, .5, .2, 1.4);
}

.switch:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/Light mode toggle.JPG');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  opacity: 1;
  transition: opacity .7s ease;
}

.switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/Dark mode toggle .JPG');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  opacity: 1;
  transition: opacity .7s ease;
}

.switch:after {
  content: '';
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 46px;
  }
  50% {
    width: 75px;  
    border-radius: 25px;   
  }
  100% {
    transform: translateX(0px); 
    width: 46px;
  }
}

.switch:checked:after {
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 46px;
  }
  50% {
    width: 75px;  
    border-radius: 25px;   
  }
  100% {
    transform: translateX(80px); 
    width: 46px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}